<%= render 'layouts/head' %>
<div style="padding: 20px;">
   <h2><%= link_to "Database List", controller: "database", action: 'list', q: 'a' %></h2>
   Browse/Search your Library's E-Database List.
</div>
<div style="padding:20px;">
   <h2><%= link_to "Journal List", controller: "journal", action: 'list',  q: 'a' %></h2>
   Browse/Search your Library's E-Journal List.
</div>
<div style="padding:20px;">
   <h2><%= link_to "E-Book Search", controller: "ebook", action: 'list' %></h2>
   Search your Library's E-Book Collection.
</div>
