// Place all the styles related to the a2z controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   color: #000; 
   font-family: Arial, Helvetica, sans-serif;
   font-size:12px;
   font-style:normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 1.5;
   background-color: #444;
   display:block;
}

body, div, span, h2 {
   margin: 0;
   padding:0;
   border: 0;
   outline: 0;
}

#wrapper {
  width: 1000px;
  max-width: 1000px;
  min-width: 1000px;
  border-radius: 7px;
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  margin: 20px auto;
  position: relative;
  padding: 10px;
}


.fix {
  display:block;
}
 
.a2z {
  text-align:center;
}

#header {
  min-height: 55px;
  padding: 15px 0;
}
