<div id="header-container" class="custom-header fix">
   <header id="header" class="fix">
      <div width="35%">
        <%= image_tag "logo.png" %>
      </div>
      <div width="65%">
         <h1><%= Rails.configuration.organization %>'s <%= Rails.configuration.title %></h1>
      </div>
      <hr width="100%" />
   </header>
</div>
